* {
  box-sizing: border-box;
  background-color: rgb(20, 20, 41);
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
  display: flex;
  margin: 30px 20px 10px 20px;
}

.side-1 {
  flex: 1;
  margin: 0px 20px 10px 20px;
  padding: 0 0 0 10px;
  position: fixed;
  right: 60%;
  left: 0;
  top: 0;
  height: 100vh;


  
}

h1 {
  font-size: 3rem;
  line-height: 55px;
  margin: 15px 0 20px 0;
  background: linear-gradient(to left, #f6fa0af5, green);
  -webkit-background-clip: text;
  color: transparent;


}
nav ul  {
  list-style: none;
}

nav li {
  margin: 20px 0;
  letter-spacing: 1.5px;
}

nav a {
color: #fff;
text-decoration: none;
font-size:1.2rem;
}
nav a:hover{
 padding: 0px 10px 0px 10px;
}

h2 {
  color: #559259;
    margin-bottom: 20px;

}
h3{
  margin: 10px 0px 10px 0px;
  color: #fff;
}
h4{
  margin-bottom: 20px;


  color: #fff;
}

header p,
span {
  margin-bottom: 20px;
}

.animation {
  animation-name: slidein;
  animation-duration: 7s;
  animation-iteration-count:infinite;
}

@keyframes slidein {
  from {
    margin-left: 30%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }

}

.social_media_svgs {
  width: 20vw;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 20px;
  margin-left: 20px;
  color: #fff;
}


.social_media_svgs path {
  color: #fff;
  align-items: center;
}

figure {
  margin-top: 30px;
  margin-bottom: 40px;
  justify-content: center;
 display: flex;
} 

figure img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 30px 10px  30px 10px;

}

figcaption {
  position: relative;
  top: 100px;
  left: 10px;
  font-size: 1.5rem;
  background: linear-gradient(to left, #f6fa0af5, green);
  -webkit-background-clip: text;
  color: transparent
}
span.copyright {
  color: #559259;
  font-size: 0.90rem;
 letter-spacing: 1.2px;
  margin-left: 90px;
}

.about_page {
  margin-top: 20px;
  padding-left: 20px;
  border-left: 1px solid greenyellow;
  position: relative;
  left: 40%;
  width: 60%;
  top: 0;
  text-align:justify;

}


.onlarge-screen{
  width: 100%;
}


p {
  margin: 3px 0 20px 0;
  line-height: 25px;
  font-size: 1rem;
  letter-spacing: 0.5px;
  color: #fff;
}

p span {
  background: linear-gradient(to right, green, yellow);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.1rem;
  margin-right: 5px;
}
footer{
  margin: 30px;
  
}
footer p{
color: fff;
}

.second {
  float: inline-end;
  margin-top: -21px;
}

hr {
  border: 1px solid rgb(53, 104, 19);
  margin-bottom: 15px;
}

footer a {
  color: rgb(190, 209, 15);
  text-decoration: none;
}

.side-1 hr {
  margin: 30px 5px 30px 0
}
details{
  display: none;
}

@media (max-width:700px){
  body{
    height: 150vh;
  }
  main{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left:30px ;
    margin-right: 30px;

      }

      nav{
        display: none;
      }
      .side-1{
        position:static;
      }
      .about_page{
        position: static;
        width: fit-content;
      }
      .onlarge-screen{
        display: none;
      }
      .details-section{
        border: 1px solid  #559259;
        margin-top: 20px;
        border-radius: 30px 10px 30px 10px;
      }
      details {
        display: flex;
        margin-top: 10px;
        margin-bottom: 
        20px;
       padding-left: 20px;
      }
      summary {
        cursor: pointer;
        outline: none;
        list-style-type: none;
        padding: 5px 0;
       color: #fff;
       }
      summary:hover{
        width:200px;
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
        transition: background-color 0.3s ease-in-out;
        text-align: center;
        font-size: 1rem;
        height: 100%;
        text-transform: capitalize;
        background: linear-gradient(to right, green, yellow);
        -webkit-background-clip: text;
        color: transparent;
      }
     
      details p {
        margin-left: 20px;
      }
      .copyright{
        display: none;
      }
    .small-screen{
      color: #559259;
      font-size: 0.90rem;
     letter-spacing: 1.2px;
      margin-left: 90px;
      margin-top: 50px
    }
    .social_media_svgs {
      width: 40VW;
      display: flex;
      gap: 50px;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
      margin-top: 20px;
      margin-left: 20px;
      color: #fff;
    }
    side-1 {
      position: static; 
      height: auto; 
      overflow: hidden;
      scrollbar-width: none; 
    }
    
 };
